img{
	max-width: 100%;
}

.p-hero{
	margin-bottom: 30px;
}

.p-inner{
	width: calc(100% - 80px);
	margin: 0 auto;
	max-width: 1200px;
}@media screen and (max-width: 767px){
	.p-inner{
		width: 90%;
	}
}

.p-text_block{
	line-height: 1.8;
	margin-bottom: 20px;
}

.p-text_block:last-child{
	margin-bottom: 0;
}

.p-table{
	position: relative;
	padding: 0px 0;
}

.p-table:after{
	content:"";
	position: absolute;
	top: 0;
	left: 150px;
	height: 100%;
	width: 1px;
	display: inline-block;
	background-color: #212121;
}@media screen and (max-width: 767px){
	.p-table:after{
		display: none;
	}
}

.p-table__tr{
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0;
}@media screen and (max-width: 767px){
	.p-table__tr{
		padding: 0;
		margin-bottom: 20px;
	}
	.p-table__tr:last-child{
		margin-bottom: 0;
	}
}

.p-table__th{
	width: 170px;
}@media screen and (max-width: 767px){
	.p-table__th{
		font-weight: bold;
		width: 100%;
	}
}

.p-table__td{
	width: calc(100% - 170px);
	padding-left: 20px;
	box-sizing: border-box;
}@media screen and (max-width: 767px){
	.p-table__td{
		width: 100%;
		padding-left: 0;
	}
}

.pageTitle__text{
	/*animation: page_title_getup 400ms cubic-bezier(0.7,0,0.3,1) 400ms forwards;*/
}

.js-text_popup{
	overflow: hidden;
}

.js-text_popup__item{
	position: relative;
	top: 60px;
	opacity: 0;
	transition:all 400ms 100ms cubic-bezier(0.7,0,0.3,1);
	will-change: top;
}

.js-text_popup__item.active{
	opacity: 1;
	top: 0;
}


@keyframes page_title_getup{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.js-scrl_target__popup{
	overflow: hidden;
}

.js-scrl_target__wrapper{
	transform:translateY(100%);
	opacity: 0;
	transition: all 600ms cubic-bezier(0.7,0,0.3,1);
	/*animation: popup 600ms cubic-bezier(0.7,0,0.3,1) 400ms forwards;*/
}

.js-scrl_target.is-fire .js-scrl_target__wrapper{
	opacity: 1;
	transform:translateY(0%);
}

/*@keyframes popup{
	0%{
		opacity: 0;
		transform:translateY(100%);
	}
	100%{
		opacity: 1;
		transform:translateY(0%);
	}
}*/




/*js-list*/
.js-list_popup__item{
	position: relative;
	top: 60px;
	opacity: 0;
	transition:all 600ms 200ms cubic-bezier(0.7,0,0.3,1);
	will-change: top;
}

.js-list_popup__item.active{
	opacity: 1;
	top: 0;
}


/*project*/

.p-project_single__wrapper{
	margin-bottom: 170px;
}@media screen and (max-width: 767px){
	.p-project_single__wrapper{
		margin-bottom: 90px;
	}
}

.p-project_single__wrapper:last-child{
	margin-bottom: 0;
}

.p-project_single__wrapper__wrapper{
	padding: 0 30px;
}@media screen and (max-width: 767px){
	.p-project_single__wrapper__wrapper{
		padding: 0;
	}
}

.p-project_single__image{
	position: relative;
	margin-bottom: 40px;
	overflow: hidden;
}@media screen and (max-width: 767px){
	.p-project_single__image{
		margin-bottom: 30px;
	}
}
.p-project_single__image:after{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f8f8f8;
	transform:translateY(0);
	transition: all 600ms 200ms cubic-bezier(0.7,0,0.3,1);
}

.p-project_single__image.__instant_open:after{
	animation: profile_hero_open 600ms cubic-bezier(0.7,0,0.3,1) 200ms forwards;
}

.p-project_single__image.is-fire:after{
	transform:translateY(-100%);
}



@keyframes profile_hero_open{
	0%{
		transform:translateY(0);
	}
	100%{
		transform:translateY(-100%);
	}
}


	.p-project_single__head{
		margin-bottom: 60px;
	}@media screen and (max-width: 767px){
		.p-project_single__head{
			margin-bottom: 30px;
		}
	}
	.p-project_single__head > .__title{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.p-project_single__head > .__text{
		line-height: 1.8;
	}
	.p-project_single_hero{
		width: 100%;
		margin-bottom: 0px;
	}

	.p-project_single__head__title{
		font-size: 24px;
		margin-bottom: 20px;
		font-weight: bold;
		letter-spacing: 0.1em;
	}@media screen and (max-width: 767px){
			.p-project_single__head__title{
				font-size: 18px;
				margin-bottom: 15px;
			}
	}
	.p-project_single__head__title > .__text{
		position: relative;
		display: inline-block;
		border-bottom: 1px dashed rgb(252, 68, 69);
	}
	.p-project_single__head__text{
		letter-spacing: 0.1em;
	}